.sendForm {

}

.textarea {
    text-align: center;
    border-radius: 50px;
    height: 35px;
    width: 175px;
}

.button {
    border-radius: 50px;
    height: 35px;
    width: 75px;
}

.button:hover {

}

.button:active {

}
